.movie_playlist_item
{
  color: #fff;
}

.movies-genres h2 {
    font-size: 1rem;
    color: #fff;
    margin-right: 10px; }
    @media (max-width: 991.98px) {
      .movies-genres h2 {
        display: block !important; } }
  
  .movies-genres a {
    display: inline-block;
    color: #fff;
    padding: 2px 10px;
    margin:1px;
    background: rgba(255, 255, 255, 0.88);
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: .8rem; }
    .movies-genres a:hover {
      background: #fff;
      color: #2f89fc; }

.playlist-selection-item-add {
  
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
  color:'blue';}

.playlist-selection-item-add:hover {
      text-decoration: none; 
}

.playlist-wrap-add {
  background: rgba(255, 255, 255, 0.2);
  width :"100%"; 
  left: 20px;
  padding: 5px; }
  

.playlist-wrap {
  background: rgba(255, 255, 255, 0.2);

  position: absolute;
  bottom: 5px;
  left: 20px;
    padding: 5px; }

  
  .playlist-wrap .form-control {
    border: none; }
    @media (max-width: 1199.98px) {
      .playlist-wrap .form-control {
        height: 55px; } }
  .playlist-wrap .btn {
    padding: 10px 30px; }
    @media (max-width: 1199.98px) {
      .playlist-wrap .btn {
        width: 100% !important;
        display: block; } }
  .playlist-wrap .add-new {
      background:#94F7C8;
    } 

.movie-is-favorite, .movie-image-content .add-as-favorite 
{
  position: absolute;
  right: 20px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.03);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  font-size: 16px; 
}

.movie-is-favorite span, .movie-image-content .add-as-favorite span 
{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}
.movie-image-content .add-as-favorite:hover 
{
  background: #f23a2e; 
}
.movie-image-content .add-as-favorite:hover span 
{
    color: #fff; 
}
.movie-is-favorite span
{
  color: #f23a2e;
}
