<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Welcome!{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css') }}">

  <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
  <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">

  <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">

  <link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css') }}">

  <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
  <link rel="stylesheet" href="{{ asset('css/rangeslider.css') }}">

  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  <link rel="stylesheet" href="{{ asset('css/movies_list.css') }}">
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <div class="site-wrap">
  
    {% include('navbar.html.twig') %}

  <div class="site-blocks-cover overlay" style="background-position-y:330px;background-image: url('{% block poster %}https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/piuRhGiQBYWgW668eSNJ2ug5uAO.jpg{% endblock %}');" data-stellar-background-ratio="0.3">
      <div class="container">
        <div class="row align-items-end justify-content-center text-center">

          <div class="col-md-12">
            {% if can_search is defined and can_search %}
            <div class="form-search-wrap mb-3">
              <form method="post">
                <div class="row align-items-center">
                  <div class="col-lg-3 mb-2 mb-xl-0 col-xl-3">
                    <input type="text" class="form-control rounded" id="with_keywords" name="with_keywords" value = "{{with_keywords}}" placeholder="Search for a movie name">
                  </div>
                  <div class="col-lg-3 mb-2 mb-xl-0 col-xl-3">
                     <select class="form-control rounded" name="with_release_year" id="with_release_year" value = "{{with_release_year}}"  onChange="submit()">
                        <option value="all">Released year</option>
                      
                      {% for year in 2020..1950 %}

                      {% if year == with_release_year %}
                      {% set selected = 'selected' %}
                      {% else %}
                      {% set selected = '' %}
                      {% endif %}
                    

                        <option value="{{ year }}" {{ selected }}>{{ year }} </option>
                      {% endfor %}
                      </select>                  
                  </div>              
                        {% if with_playlist == 'all' %}
                        {% set selected = 'selected' %}
                        {% else %}
                        {% set selected = '' %}
                        {% endif %}
                  <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                    <div class="select-wrap">
                      <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                      <select class="form-control rounded" name="with_playlist" id="with_playlist" placeholder="View movies of a playlist" onChange="submit()">
                        <option value="all" {{selected}}>View movies of a playlist</option>
                      {% for playlist in all_playlist %}
                        {% if playlist.idDb == with_playlist %}
                        {% set selected = 'selected' %}
                        {% else %}
                        {% set selected = '' %}
                        {% endif %}
                        <option value="{{ playlist.idDb }}" {{selected}}>{{ playlist.name }} </option>
                      {% endfor %}
                      </select>
                    </div>
                  </div>                        
                  <!--<div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                    <div class="wrap-icon">
                      <span class="icon icon-room"></span>
                      <input type="text" class="form-control rounded" placeholder="Location">
                    </div>
                    
                  </div>
                  -->
                  <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                    <div class="select-wrap">
                      <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                      <select class="form-control rounded" name="with_genres" id="with_genres" onChange="submit()">
                        <option value="all">Toutes les catégories</option>
                      {% for genre in genres %}
                        <option value="{{ genre.id }}">{{ genre.name }} </option>
                      {% endfor %}
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-lg-1 col-xl-1 lg-auto ml-auto text-center">
                    <input type="submit" style="display:none" class="btn btn-primary btn-block rounded" value="Search">
                  </div>
                  
                </div>
              </form>
            </div>
            {% endif %}
  <!--
            <div class="row text-left trending-search" data-aos="fade-up"  data-aos-delay="300">
              <div class="col-12">
                <h2 class="d-inline-block">Trending Search:</h2>
                <a href="#">iPhone</a>
                <a href="#">Cars</a>
                <a href="#">Flowers</a>
                <a href="#">House</a>
              </div>
            </div>
-->
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section bg-light">
        <div class="container">
          {% block body %}{% endblock %}
        </div>
    </div>

  <footer class="site-footer">
    <div class="container">
      <div class="row pt-1 mt-1 text-center">
        <div class="col-md-12">
          <div class="border-top pt-1">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
              <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </footer>
<div class="container" id="playlist-selection" style="display:none">
  <div class="row my-2">
    <div class="col">
      <div class="mb-10">
              <h3 class="h5 text-black mb-3">Select a playlist</h3>
              <div class="playlist-wrap-add">
                <ul class="list-unstyled" id ="playlist-selection-ul">
                  {% if not (all_playlist is defined) %}
                  {% set all_playlist = [] %}
                  {% endif %}
                  {% for playlist in all_playlist %}
                    {% if playlist.idDb != favorite_pl_id %}
                      <li > 
                        <div class="playlist-selection-item-add" id_playlist="{{ playlist.IdDB }}">{{ playlist.name }}</div>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>  
              <br> 
              <h3 class="h6 text-black mb-3">Add in new playlist</h3>
              <div class="playlist-wrap-add">
              <input type="text" id="playlist-selection-new-add" name="playlist_name" class="text"></input>
              </div>                
        </div>
      </div>
  </div>
</div>
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/aos.js') }}"></script>
<script src="{{ asset('js/rangeslider.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/movies_list.js') }}"></script>

</body>

</html>