{% extends 'base.html.twig' %}

{% block title %}Edit PlayList{% endblock %}

{% block body %}
    <h1>Edit PlayList</h1>

    {{ include('play_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('play_list_index') }}">back to list</a>

    {{ include('play_list/_delete_form.html.twig') }}
{% endblock %}
