{% extends 'base.html.twig' %}

{% block title %}PlayList index{% endblock %}

{% block body %}
    <h1>PlayList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Creation_at</th>
                <th>IdOwner</th>
                <th>LastUpdate_at</th>
                <th>TypeOf</th>
                <th>Accessibility</th>
                <th>IdDB</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for play_list in play_lists %}
            <tr>
                <td>{{ play_list.id }}</td>
                <td>{{ play_list.Name }}</td>
                <td>{{ play_list.Description }}</td>
                <td>{{ play_list.CreationAt ? play_list.CreationAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ play_list.IdOwner }}</td>
                <td>{{ play_list.LastUpdateAt ? play_list.LastUpdateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ play_list.TypeOf }}</td>
                <td>{{ play_list.Accessibility }}</td>
                <td>{{ play_list.IdDB }}</td>
                <td>
                    <a href="{{ path('play_list_show', {'id': play_list.id}) }}">show</a>
                    <a href="{{ path('play_list_edit', {'id': play_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('play_list_new') }}">Create new</a>
{% endblock %}
