{% extends 'base.html.twig' %}

{% block title %}New PlayList{% endblock %}

{% block body %}
    <h1>Create new PlayList</h1>

    {{ include('play_list/_form.html.twig') }}

    <a href="{{ path('play_list_index') }}">back to list</a>
{% endblock %}
