{% extends 'base.html.twig' %}

{% block title %}PlayList{% endblock %}

{% block body %}
    <h1>PlayList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ play_list.Name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ play_list.Description }}</td>
            </tr>
            <tr>
                <th>Creation_at</th>
                <td>{{ play_list.CreationAt ? play_list.CreationAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IdOwner</th>
                <td>{{ play_list.IdOwner }}</td>
            </tr>
            <tr>
                <th>LastUpdate_at</th>
                <td>{{ play_list.LastUpdateAt ? play_list.LastUpdateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TypeOf</th>
                <td>{{ play_list.TypeOf }}</td>
            </tr>
            <tr>
                <th>Accessibility</th>
                <td>{{ play_list.Accessibility }}</td>
            </tr>
            <tr>
                <th>IdDB</th>
                <td>{{ play_list.IdDB }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('play_list_index') }}">back to list</a>

    <a href="{{ path('play_list_edit', {'id': play_list.id}) }}">edit</a>

    {{ include('play_list/_delete_form.html.twig') }}
{% endblock %}
