{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row justify-content-center">

  <div class="col-md-7 mb-5" data-aos="fade-up" data-aos-delay="400">

    <h2 class="mb-5 text-black">Log In</h2>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Register!</button>

{{ form_end(form) }}    
  </div>
</div>  
{% endblock %}



