{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row justify-content-center">

  <div class="col-md-7 mb-5" data-aos="fade-up" data-aos-delay="400">

    <h2 class="mb-5 text-black">Log In</h2>

    <form action="#" class="p-5 bg-white" method="post">
      {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
      <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
      </div>
      {% endif %}
      <div class="row form-group">

        <div class="col-md-12">
          <label class="text-black" for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" value="{{ last_username }}">
        </div>
      </div>

      <div class="row form-group">

        <div class="col-md-12">
          <label class="text-black" for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" class="form-control" required>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-12">
          <p>No account yet? <a href="{{ path('user_registration',{})}}">Register</a></p>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="_remember_me"> Remember me
        </label>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          <input type="submit" value="Sign In" class="btn btn-primary py-2 px-4 text-white">
        </div>
      </div>


    </form>
  </div>
</div>  
{% endblock %}