{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}
{% block poster %}{{ imagebase }}{{ movie.backdrop_path }}{% endblock %}
{% block body %}
{% set movie_title = movie.title is defined?movie.title:movie.original_name %}
{% set movie_release_date = movie.release_date is defined?movie.release_date:movie.first_air_date %}
{% if app.user %}
{% set heart_class = 'add-as-favorite' %}
{% if movies_pl_map[movie.id] is defined %}
{% for playlist in movies_pl_map[movie.id] %}
{% if playlist.idDb == favorite_pl_id %}
{% set heart_class = 'movie-is-favorite' %}
{% endif %}
{% endfor %}
{% endif %}
{% else %}
{% set heart_class = '' %}
{% endif %}
{% if (not movie.media_type is defined) or (movie.media_type == 'tv' or movie.media_type == 'movie' )%}
{% set movie_release_date = movie.release_date is defined?movie.release_date:movie.first_air_date is defined?movie.first_air_date:'' %}
{% set movie_title = movie_release_date %}
{% set movie_media_type = movie.media_type is defined?movie.media_type:'movie' %}

{% if app.user %}
{% set heart_class = 'add-as-favorite' %}
{% if movies_pl_map[movie.id] is defined %}
{% for playlist in movies_pl_map[movie.id] %}
{% if playlist.idDb == favorite_pl_id %}
{% set heart_class = 'movie-is-favorite' %}
{% endif %}
{% endfor %}
{% endif %}
{% else %}
{% set heart_class = '' %}
{% endif %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="h2 mb-4 text-black">{{ movie_title }}</h3>
      </div>
      <div class="col-lg-8">

          <div class="h-entry">
            <div class="row">
              <div class="col-md-12">
                <h6 class="font-size-regular"><a href="{{ path('movie',{id:movie.id , media_type:movie_media_type})}}"
                    class="text-black">{{ movie_title }}</a></h6>
              </div>
              <div class="col-md-12">
                <div class="movie-image-content">
                  {% if  movie.poster_path != null %}
                  <a href="{{ path('movie',{id:movie.id, media_type:movie_media_type})}}">
                    <img src="{{ imagebase }}{{ movie.poster_path }}" alt="Image" class="img-fluid rounded"
                      style="margin-bottom: 0px;">
                      <div movie_id="{{ movie.id }}" class="{{heart_class}}"><span class="icon-heart"></span></div>
                  </a>
                  {% else %}
                  <p>No image</p>

                  {% endif %}

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <!--
                      {% if movie_release_date is defined %}
                        <div class="meta mb-3">Release at {{ movie_release_date }} </div>
                      {% endif %}
                      -->
                  <p>
                    <h6 style="font-size: 11px;">{{ movie.overview | slice (0,100) }} ...</h6>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <p>{{ movie.overview }}</p>

          <p class="mt-3"><a href="/" class="btn btn-primary">Back to Home</a></p>
      </div>
<div class="col-lg-3">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-4 mb-3 bg-white">
                <p class="mb-0 font-weight-bold">Release date</p>
                <p class="mb-4">{{ movie_release_date }}</p>
                {% if movie.budget is defined %}
                <p class="mb-0 font-weight-bold">Budget</p>
                <p class="mb-4">{{ movie.budget }} $</p>
                {% endif %}
                {% if movie.revenue is defined %}
                <p class="mb-0 font-weight-bold">Revenue</p>
                <p class="mb-4">{{ movie.revenue }} $</p>
                {% endif %}
                {% if movie.popularity is defined %}
                <p class="mb-0 font-weight-bold">Popularity</p>
                <p class="mb-4">{{ movie.popularity }}</p>
                {% endif %}
              </div>
            </div>
          </div>
           {% if app.user %}
          <div class="row">
            <div class="col-lg-12">
            <p class="mb-0 font-weight-bold">Playlists </p>
              <div class="p-4 mb-3 bg-yellow">
                
              <snap class="playlist-wrap">
                <div class="row text-left movies-genres aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                  <div class="col-12" id="mv_{{movie.id}}_pl_parent_">
                    <a id="mv_{{movie.id}}_pl_add_" id_movie="{{ movie.id }}" class="add-new">+</a>
                    <a id="mv_{{movie.id}}_pl_model_" style="display:none"></a>

                    {% if movies_pl_map[movie.id] is defined %}
                    {% for pl_list in movies_pl_map[movie.id] %}
                    {% if pl_list.idDb != favorite_pl_id %}
                    <a class="movie_playlist_item" id="mv_{{movie.id}}_pl_{{pl_list.idDb}}_" id_movie="{{movie.id}}"
                      id_playlist="{{pl_list.idDb}}">{{ pl_list.shortName }} </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}


                  </div>
                </div>
              </snap>
            </div>
            </div>
          </div>
          {% endif %}
        </div>      
    </div>

  </div>
</div>
</div>
{% endblock %}